* {
  box-sizing: border-box;
}

.App {
  font-family: 'Poppins', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  /* font-size: 24px; */
}

.Todo-container {
  max-width: 600px;
  margin: 40px auto;
}

.heading {
  font-weight: 100;
  text-align: center;
  font-size: 4em;
  line-height: .3em;
}

@media (max-width: 500px) {
  .heading {
    font-size: 3em;
  }
}

.todo-input {
  width: 100%;
  padding: 8px 10px;
  font-size: 14px;
  margin-bottom: 16px;
  border: none;
  border: 1px solid #ddd;
  font-family: 'Poppins', sans-serif;
  font-weight: 200;
}

.todo-input:focus {
  outline-style:none;
}

input:-webkit-autofill,
input:-webkit-autofill:hover, 
input:-webkit-autofill:focus, 
input:-webkit-autofill:active  {
  box-shadow: 0 0 0 30px white inset;
}

.todo-item {
  margin-bottom: 12px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  /* animation-duration: 0.3s; */
  font-weight: 300;
  font-size: 24px;
}

.todo-item-done {
  appearance: none;
  position: relative;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  height: 15px;
  width: 15px;
  background: #eee;
  color: #333;
  cursor: pointer;
  margin-right: 0.5rem;
  outline: none;
  position: relative;
}

.todo-item-done:checked::before {
  height: 15px;
  width: 15px;
  position: absolute;
  content: '✔';
  line-height: 16px;
  text-align: center;
}

.remove-item {
  cursor: pointer;
}

.todo-item-left {
  display: flex;
  align-items: center;
  width: 100%;
}

.todo-item-label {
  padding: 10px;
  margin-left: 12px;
}

.todo-item-edit {
  font-size: 24px;
  color: #555;
  margin-left: 12px;
  width: 85%;
  padding: 10px;
  border: none;
  font-family: 'Poppins', sans-serif;
  font-weight: 300;
}

@media (max-width: 500px) {
  .todo-item-edit {
    font-size: 16px;
  }

  .todo-item {
    font-size: 16px;
  }
}

.todo-item-edit:focus {
  outline: none;
}

.remove-item {
  font-size: 24px;
}

.completed {
  text-decoration: line-through;
  color: #999;
}

.extra-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-size: 15px;
  font-weight: 400;
  border-top: 1px solid #ddd;
  padding: 12px 0;
  color: #666;
}

.extra-container-label {
  display: flex;
}

button {
  font-size: 13px;
  border: none;
  background-color: white;
  appearance: none;
  margin: 2px;
  padding: 3px;
  font-family: 'Poppins', sans-serif;
  border-bottom: 1px solid #fff;
  color: #666;
}

button:hover {
  border-bottom: 1px solid #666;
}

button:focus {
  outline: none;
}

.active {
  border-bottom: 1px solid #666;
}


.fade-enter {
  opacity: 0;
  transform: translateY(-20px);
}

.fade-enter-active {
  opacity: 1;
  transform: translateY(0);
  transition: all 200ms ease-in-out;
}

.fade-leave {
  opacity: 1;
}

.fade-leave-active {
  opacity: 0;
  transition: all 200ms ease-out;
}